:root {
  --color-text-400: #1a202c;
  --color-text-300: #4a5568;

  --color-grayscale-500: #c8d2de;
  --color-grayscale-400: #d8e0ea;

  --color-beige-700: #c4ceda;
  --color-beige-600: #d3dbe6;
  --color-beige-500: #e2e7ef;
  --color-beige-400: #eef2f6;

  --color-background-400: #eef2f6;

  --color-black-400: #1a202c;

  --color-gray-500: #64748b;
  --color-gray-400: #94a3b8;

  --color-orange-400: #ff8400;

  --color-white-400: #ffffff;

  --color-cyan-500: #0086bb;
  --color-cyan-400: rgb(52, 191, 255);

  --color-text-cyan-400: #e1f5ff;
  --color-text-cyan-300: #81bdd8;

  --color-dark-blue-600: #234ba2;
  --color-dark-blue-500: #052e87;
  --color-dark-blue-400: #002474;

  --color-hologram-top: rgb(0, 53, 133);
  --color-hologram-bottom: rgba(0, 82, 145, 0.6);
}

html.dark {
  --color-text-400: #f8fafc;
  --color-text-300: #cbd5e1;

  --color-grayscale-500: #334155;
  --color-grayscale-400: #1e293b;

  --color-beige-700: #1e293b;
  --color-beige-600: #182234;
  --color-beige-500: #131c2e;
  --color-beige-400: #0d1321;

  --color-background-400: #0d1321;
  --color-background-300: #101726;

  --color-black-400: #ffffff;

  --color-gray-500: #94a3b8;
  --color-gray-400: #64748b;
}

